force-app/main/default/flows/Populate_Address_to_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Billing_Address</name>
        <label>Billing Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_Center</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_Center</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Address_to_Billing</name>
        <label>Map Address to Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Distribution_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Address_to_Both</name>
        <label>Map Address to Both</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Distribution_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Distribution_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Address_to_Shipping</name>
        <label>Map Address to Shipping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Distribution_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountVar.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAddress.State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Set_AccountVar_Id</name>
        <label>New Set AccountVar Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewAccountVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Get_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountVar_Id</name>
        <label>Set AccountVar Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_to_Populate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billing</name>
        <choiceIcon>
            <iconName>utility:home</iconName>
        </choiceIcon>
        <choiceText>&lt;strong style=&quot;font-family: serif;&quot;&gt;Billing Address&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>&lt;strong style=&quot;font-family: serif;&quot;&gt;Both Billing and Shipping Address&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping</name>
        <choiceIcon>
            <iconName>utility:cart</iconName>
        </choiceIcon>
        <choiceText>&lt;strong style=&quot;font-family: serif;&quot;&gt;Shipping Address &lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Select_address</name>
        <label>Select address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Address_Placement</targetReference>
            </connector>
            <label>Address Selection</label>
        </rules>
        <rules>
            <name>Address_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_The_Address_Record</targetReference>
            </connector>
            <label>Address Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_Populate</name>
        <label>Where to Populate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Address_to_Billing</targetReference>
            </connector>
            <label>Billing Only</label>
        </rules>
        <rules>
            <name>Shipping_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shipping</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Address_to_Shipping</targetReference>
            </connector>
            <label>Shipping Only</label>
        </rules>
        <rules>
            <name>Both_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Both</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Address_to_Both</targetReference>
            </connector>
            <label>Both Add</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Address__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Populate_Address_to_Account_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate_Address_to_Account_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_The_Address</name>
        <label>Create The Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Get_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Select_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Center__c</field>
            <value>
                <elementReference>Distribution_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Address_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Select_State</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccountVar_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Addresses</name>
        <label>Get_All_Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Address</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Get_Accounts</name>
        <label>New Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Set_AccountVar_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewAccountVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing</name>
        <label>Update Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AccountVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Both</name>
        <label>Update Both</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AccountVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping</name>
        <label>Update Shipping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AccountVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Address_Placement</name>
        <label>Choose Address Placement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <fields>
            <name>AddressTarget</name>
            <choiceReferences>Billing</choiceReferences>
            <choiceReferences>Shipping</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where should this address be applied?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_The_Address_Record</name>
        <label>Create The Address Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_The_Address</targetReference>
        </connector>
        <fields>
            <name>Address_Name</name>
            <dataType>String</dataType>
            <fieldText>Address Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Country</name>
            <choiceReferences>Country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_State</name>
            <choiceReferences>StatePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Distribution_Center</name>
            <dataType>String</dataType>
            <fieldText>Distribution Center</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Address</name>
        <label>Search Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_address</targetReference>
        </connector>
        <fields>
            <name>dtAddresses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Addresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Address__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_All_Addresses&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5bf2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;City__c&quot;,&quot;guid&quot;:&quot;column-991b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Distribution_Center__c&quot;,&quot;guid&quot;:&quot;column-4435&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Distribution Center&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;State__c&quot;,&quot;guid&quot;:&quot;column-6fd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Country__c&quot;,&quot;guid&quot;:&quot;column-258f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Region__c&quot;,&quot;guid&quot;:&quot;column-d07a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-5a33&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Postal Code&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Address__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;City__c&quot;,&quot;Distribution_Center__c&quot;,&quot;State__c&quot;,&quot;Country__c&quot;,&quot;Region__c&quot;,&quot;Postal_Code__c&quot;],&quot;elementReference&quot;:&quot;Get_All_Addresses&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedAddress</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Addresses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varSelectedAddressId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
